@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor01: #97f9f942;
    --cor02: #ff71b3;
    --cor03: #bd2647;
    --cor04: #1D8A99;

    --font01:  "Dancing Script", cursive;
    --font02:  "Montserrat Alternates", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

body, html {
    height: 100%;
    width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor01);
}

div.your-lie-in-april {
    background: url('../imagens/romance/your-lie-in-april.jpg') no-repeat center;
    background-size: cover;
    height: 250px;
}

div.uzaki-chan {
    background: url('../imagens/romance/uzaki-chan.png') no-repeat top center;
    background-size: cover;
    height: 250px;
}

div.kaguya-sama {
    background: url('../imagens/romance/kaguya-sama.jpg') no-repeat left;
    background-size: cover;
    height: 250px;
}

main {
    position: relative;
    padding: 20px;
}

main h1 {
    font-size: 3em;
    font-family: var(--font01);
    text-align: center;
    color: var(--cor02);
    font-weight: normal;
    margin-bottom: 30px;
}

main p {
    font-size: 1.1em;
    font-family: var(--font02);
    line-height: 2em;
    margin: 20px 0px;
}

.episodio {
    text-decoration: none;
    background-color: var(--cor04);
    color: var(--cor03);
    padding: 8px 10px;
    border-radius: 30px;
}

.episodio:hover {
    background-color: #0ab1c7;
    color: #e7224d;
    box-shadow: 0px 0px 5px #0ab1c7;
    transition: all 0.5s
}

.crunchyrrol {
    bottom: 10px;
    margin-top: 20px;
    margin-left: 250px;
    height: 60px;
    border-radius: 50%;
}

.crunchyrrol:hover {
    border: 2px solid black;
    transform: translate(0px, -1px);
    transition: border 0.2s;
}