@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    color: white;
}

.cima {
    background: url('../imagens/cima.png') no-repeat;
    background-size: cover;
    height: 150px;
}

header {
    text-align: center;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
}

header h1 {
    font-size: 5em;
    padding-top: 50px;
}

header p {
    max-width: 500px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 50px;
    font-size: 1.1em;
    line-height: 1.8em;
}

.emoji {
    text-shadow: none;
}

.baixo {
    background: url('../imagens/baixo.png') no-repeat center;
    background-size: cover;
    height: 90px;
}

main {
    margin-left: 20px;
    
}

main h2 {
    text-align: center;
    font-size: 3em;
    padding-top: 30px;
}

main p {
    font-size: 1.2em;
    line-height: 2em;
    padding-top: 30px;
    max-width: 800px;
    margin: auto;
}

.link {
    text-align: center;
    margin-top: 80px;
}

main a {
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #aa0300;
    padding: 15px 25px;
    border-radius: 30px;
}

main a:hover {
    background-color: red;
    text-shadow: 0px 0px 5px white;
    box-shadow: 0px 0px 5px red;
    transition: all 0.5s;
}