@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

:root {
    --cor01: #8C1818;
    --cor02: #730E0E;
    --cor03: #400404;

    --font01: "Nosifer", sans-serif;
    --font02: "Special Elite", system-ui;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

body, html {
    height: 100%;
    width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor03);
}

div.another {
    background: url('../imagens/terror/another.jpg') no-repeat center;
    background-size: cover;
    height: 250px;
    box-shadow: 0px 0px 10px red;
}

div.tokyo-ghoul {
    background: url('../imagens/terror/tokyo-ghoul.jpg') no-repeat top center;
    background-size: cover;
    height: 250px;
    box-shadow: 0px 0px 10px red;
}

div.the-promissed-neverland {
    background: url('../imagens/terror/the-promissed-neverland.jpg') no-repeat right;
    background-size: cover;
    height: 280px;
    box-shadow: 0px 0px 10px red;
}

main {
    position: relative;
    padding: 20px;
}

main h1 {
    font-size: 3em;
    font-family: var(--font01);
    text-align: center;
    text-shadow: 0px 0px 10px red;
    font-weight: normal;
    margin-bottom: 30px;
}

.emoji {
    text-shadow: none;
}

main p {
    font-size: 1.1em;
    font-family: var(--font02);
    line-height: 2em;
    margin: 20px 0px;
}

.episodio {
    text-decoration: none;
    background-color: var(--cor02);
    color: red;
    padding: 8px 10px;
    border-radius: 30px;
}

.episodio:hover {
    background-color: var(--cor02);
    color: rgb(255, 40, 40);
    box-shadow: 0px 0px 5px #730E0E;
}

.crunchyrrol {
    bottom: 10px;
    margin-top: 20px;
    margin-left: 250px;
    height: 60px;
    border-radius: 50%;
}

.crunchyrrol:hover {
    border: 2px solid black;
    transform: translate(0px, -1px);
    transition: border 0.2s;
}